<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/main.css">

    <title>Travler</title>
</head>
<body>
    <header class="header" id="header">
        <div class="container">
            <div class="header__wrapper">
                <div class="logo header__logo">
                    <img src="img/logo.svg" alt="Travler" class="logo__icon">
                    <div class="logo__text">
                        <p class="logo__main">
                            travler
                        </p>
                        <p class="logo__sub-text">
                            Get the advice you need about travel
                        </p>
                    </div>
                </div>
                <div class="header__right">
                    <p class="header__text">
                        Quicklinks
                    </p>
                    <img src="img/map-pin.svg" alt="pin" class="header__icon">
                    <div class="header__separator"></div>
                    <div class="header__text header__text_lilac">
                        Select from dropdown
                    </div>
                    <p class="dropdown-arrows dropdown-arrows_lilac vertical-text"><></p>
                    <form action="" method="get" class="search header__search">
                        <input name="s" placeholder="Search for somthing here" type="search" class="search__field header__text">
                        <img src="img/clock.svg" alt="recent" class="search__icon">
                    </form>
                </div>
            </div>
            <nav class="nav header__nav" id="nav">
                <div class="nav__item nav__item_big">
                    <object type="image/svg+xml" data="img/guide.svg" class="nav__icon">
                        <!-- <img src="SvgImg.png" width="200" height="200" alt="image format png" /> -->
                    </object>
                    <p class="nav__text">
                        Travel Guide
                    </p>
                </div>
                <div class="nav__item nav__item_big nav__item_active">
                    <object type="image/svg+xml" data="img/services.svg" class="nav__icon">
                        <!-- <img src="SvgImg.png" width="200" height="200" alt="image format png" /> -->
                    </object>
                    <p class="nav__text">
                        Services
                    </p>
                </div>
                <div class="nav__item">
                    <object type="image/svg+xml" data="img/about.svg" class="nav__icon">
                        <!-- <img src="SvgImg.png" width="200" height="200" alt="image format png" /> -->
                    </object>
                    <p class="nav__text">
                        About
                    </p>
                </div>
                <div class="nav__item nav__item_big">
                    <object type="image/svg+xml" data="img/tour.svg" class="nav__icon">
                        <!-- <img src="SvgImg.png" width="200" height="200" alt="image format png" /> -->
                    </object>
                    <p class="nav__text">
                        The Tour
                    </p>
                </div>
                <div class="nav__item">
                    <object type="image/svg+xml" data="img/guide.svg" class="nav__icon">
                        <!-- <img src="SvgImg.png" width="200" height="200" alt="image format png" /> -->
                    </object>
                    <p class="nav__text">
                        How to
                    </p>
                </div>
                <div class="nav__item">
                    <object type="image/svg+xml" data="img/about.svg" class="nav__icon">
                        <!-- <img src="SvgImg.png" width="200" height="200" alt="image format png" /> -->
                    </object>
                    <p class="nav__text">
                        Contact
                    </p>
                </div>
            </nav>
        </div>
    </header>
    <section class="front-section section">
        <div class="container">
            <div class="front-section__wrapper">
                <img src="img/ellipse.svg" alt="Travler" class="front-section__icon">
            </div>
        </div>
    </section>
    <section class="anywhere section" id="anywhere">
        <div class="container">
            <div class="anywhere__wrapper">
                <p class="anywhere__head section__head">
                    Anywhere, anytime, where here to help
                </p>
                <p class="anywhere__sub-head section__sub-head">
                    And we mean that.
                </p>
                <div class="anywhere__map">
                    <img src="img/map.png" alt="map" class="anywhere__img">
                </div>
                <div class="anywhere__perfomance-icons perfomance-icons">
                    <img src="img/big-clock.svg" alt="clock" class="perfomance-icons__icon">
                    <div class="perfomance-icons__separator"></div>
                    <img src="img/cloud.svg" alt="cloud" class="perfomance-icons__icon">
                    <div class="perfomance-icons__separator"></div>
                    <img src="img/box.svg" alt="box" class="perfomance-icons__icon">
                </div>
                <div class="anywhere__block-wrapper">
                    <div class="anywhere__block">
                        <p class="anywhere__block-title">
                            Save Time
                        </p>
                        <p class="anywhere__block-text">
                            Lets throw a trackie dacks also it'll be gutta. You little ripper avos flamin lets throw a lizard drinking. Gutful of jug where as busy as a big smoke. Grab us a billy as cunning as a bull bar. As cunning as a bonzer flamin as stands out like cubby house. As cross as a mate no dramas as cunning as a bonzer. Gutful of kindie flamin as cross as a grundies. Lets throw a 
                        </p>
                    </div>
                    <div class="anywhere__block">
                        <p class="anywhere__block-title">
                            Win over the team
                        </p>
                        <p class="anywhere__block-text">
                            As cunning as a bonzer flamin as stands out like cubby house. As cross as a mate no dramas as cunning as a bonzer. Gutful of kindie flamin as cross as a grundies. Lets throw a strides also as cross as a thingo. 
                            <br>
                            Built like a old fella no dramas grab us a ten clicks away.
                        </p>
                    </div>
                    <div class="anywhere__block">
                        <p class="anywhere__block-title">
                            Design Features
                        </p>
                        <p class="anywhere__block-text">
                            Built like a old fella no dramas grab us a ten clicks away. Lets get some digger when she'll be right metho. As cross as a no dramas as cunning as a barrack.
                            <br>
                            A old fella no dramas grab us a ten clicks away. Lets get some digger when she'll be right metho. As cross as a no dramas as cunning as a barrack.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="i-mac section" id="imac">
        <div class="container">
            <div class="i-mac__wrapper">
                <div class="i-mac__perfomance-icons perfomance-icons">
                    <img src="img/big-clock.svg" alt="clock" class="perfomance-icons__icon">
                    <div class="perfomance-icons__separator"></div>
                    <img src="img/cloud.svg" alt="cloud" class="perfomance-icons__icon">
                    <div class="perfomance-icons__separator"></div>
                    <img src="img/box.svg" alt="box" class="perfomance-icons__icon">
                </div>
                <p class="i-mac__head section__head">
                    A simple begining lead to big ideas
                </p>
                <p class="i-mac__sub-head section__sub-head">
                    We started small but grew quickly.
                </p>
            </div>
        </div>
    </section>
</body>
</html>