<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/main.css">

    <title>Travler</title>
</head>
<body>
    <header class="header" id="header">
        <div class="container">
            <div class="header__wrapper">
                <div class="logo header__logo">
                    <img src="img/logo.svg" alt="Travler" class="logo__icon">
                    <div class="logo__text">
                        <p class="logo__main">
                            travler
                        </p>
                        <p class="logo__sub-text">
                            Get the advice you need about travel
                        </p>
                    </div>
                </div>
                <div class="header__right">
                    <p class="header__text">
                        Quicklinks
                    </p>
                    <img src="img/map-pin.svg" alt="pin" class="header__icon">
                    <div class="header__separator"></div>
                    <div class="header__text header__text_lilac">
                        Select from dropdown
                    </div>
                    <p class="dropdown-arrows dropdown-arrows_lilac vertical-text"><></p>
                    <form action="" method="get" class="search header__search">
                        <input name="s" placeholder="Search for somthing here" type="search" class="search__field header__text">
                        <img src="img/clock.svg" alt="recent" class="search__icon">
                    </form>
                </div>
            </div>
            <nav class="nav header__nav" id="nav">
                <div class="nav__item nav__item_big">
                    <object type="image/svg+xml" data="img/guide.svg" class="nav__icon">
                        <!-- <img src="SvgImg.png" width="200" height="200" alt="image format png" /> -->
                    </object>
                    <p class="nav__text">
                        Travel Guide
                    </p>
                </div>
                <div class="nav__item nav__item_big nav__item_active">
                    <object type="image/svg+xml" data="img/services.svg" class="nav__icon">
                        <!-- <img src="SvgImg.png" width="200" height="200" alt="image format png" /> -->
                    </object>
                    <p class="nav__text">
                        Services
                    </p>
                </div>
                <div class="nav__item">
                    <object type="image/svg+xml" data="img/about.svg" class="nav__icon">
                        <!-- <img src="SvgImg.png" width="200" height="200" alt="image format png" /> -->
                    </object>
                    <p class="nav__text">
                        About
                    </p>
                </div>
                <div class="nav__item nav__item_big">
                    <object type="image/svg+xml" data="img/tour.svg" class="nav__icon">
                        <!-- <img src="SvgImg.png" width="200" height="200" alt="image format png" /> -->
                    </object>
                    <p class="nav__text">
                        The Tour
                    </p>
                </div>
                <div class="nav__item">
                    <object type="image/svg+xml" data="img/guide.svg" class="nav__icon">
                        <!-- <img src="SvgImg.png" width="200" height="200" alt="image format png" /> -->
                    </object>
                    <p class="nav__text">
                        How to
                    </p>
                </div>
                <div class="nav__item">
                    <object type="image/svg+xml" data="img/about.svg" class="nav__icon">
                        <!-- <img src="SvgImg.png" width="200" height="200" alt="image format png" /> -->
                    </object>
                    <p class="nav__text">
                        Contact
                    </p>
                </div>
            </nav>
        </div>
    </header>
    <section class="front-section">
        <div class="container">
            <div class="front-section__wrapper">
                <img src="img/ellipse.svg" alt="Travler" class="front-section__icon">
            </div>
        </div>
    </section>
    
</body>
</html>