* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 12px / 22px Arial, sans-serif;
    
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page__content {
    flex-grow: 1;
}

.container {
    width: 875px;
    margin: 0 auto;
}

.header {
    background: #ebebeb;
    height: 213px;
    padding-top: 38px;
}

.header__wrapper {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: auto;
}

.logo {
    display: flex;
}

.logo__icon {
    height: 47px;
}

.logo__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 9px;
}

.logo__main {
    font: 900 36px / 32px Nexa, sans-serif;
    color: #6017a3;
    margin-top: 5px;
}

.logo__sub-text {
    font: italic 10px PT-sans, sans-serif;
    color: #7d7d7d;
    letter-spacing: 0.03em;
    margin-left: 3px;
}

.header__right {
    margin-top: 6px;
    display: flex;
    align-items: center;
}

.header__text {
    font: 700 11px Nexa, sans-serif;
    color: #c7c7c7;
    margin-right: 9px;
}

.header__text_lilac {
    color: #58159b;
    letter-spacing: 0.02em;
}

.header__separator {
    width: 1px;
    height: 25px;
    background: #c7c7c7;
    margin: 0 16px;
}

.dropdown-arrows {
    font: Bold 11px Quicksand, sans-serif;
    margin-bottom: 3px;
}

.dropdown-arrows_lilac {
    color: #58159b;
}

.vertical-text {
    transform: rotate(90deg);
}

.search {
    position: relative;
    margin-left: 17px;
}

.search__field {
    /* display: block; */
    border: none;
    width: 279px;
    height: 43px;
    color: #959595;
    margin: 0;
    padding-left: 18px;
    padding-top: 5px;
}

.search__icon {
    position: absolute;
    right: 12px;
    top: 25%;
}

.header__nav {
    margin-top: 33px;
}

.nav {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.16);
}

.nav__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
    height: 105px;
    background: linear-gradient(0deg, rgb(229,229,229) 0%, rgb(255,255,255) 100%);
    position: relative;
    border-bottom: 5px solid #8038c2;
}

.nav__item::after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background: #d4d4d4;
    position: absolute;
    right: 0;
    top: 0;
}

.nav__item:last-child::after {
    display: none;
}

.nav__icon swg {
    height: 26px;
    /* fill: #707070; */
}

.nav__item_big {
    width: 170px;
    flex-shrink: 0;
}

.nav__item_active {
    height: 116px;
    padding-top: 27px;
    margin-top: -11px;
    margin-left: -1px;
    background: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,10%);
    z-index: 99;
    border-bottom-width: 12px;
}

.nav__item_active::after {
    display: none;
}

.nav__item_active .nav__text {
    color: #701dbb;
}

.nav__text {
    font: bold 15px / 41px PT-sans, sans-serif;
    color: #707070;
    margin-top: 2px;
    letter-spacing: -0.02em;
}

.front-section {
    background: url(../img/header-bg.png) center top / cover;
    border-bottom: 1px solid #5a5a5a;
}

.center-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.front-section__wrapper {
    justify-content: center;
    height: 499px;
}

.front-section__icon {
    height: 128px;
    margin-bottom: 8px;
}

.anywhere {
    background: #2d2d2d;
    border-bottom: 2px solid #1e1e1e;;
    height: 716px;
    color: #fff;
}

.anywhere__head {
    margin-top: 51px;
}

.section__head {
    font: 300 35px / 27px Nexa, sans-serif;
}

.anywhere__sub-head {
    color: #a161db;
}

.section__sub-head {
    font: 700 13px / 23px Nexa, sans-serif;
    letter-spacing: 0.03em;
}

.anywhere__map {
    margin-top: 15px;
}

.anywhere__img {
    width: 920px;
}

.anywhere__perfomance-icons {
    margin-top: -22px;
    width: 653px;
}

.perfomance-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.perfomance-icons__icon {
    width: 11%;
    flex-shrink: 0;
}

.perfomance-icons__separator {
    background: #fff;
    border-radius: 1px;
    width: 20%;
    height: 3px;
    margin: 0 44px;
}

.anywhere__block-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.anywhere__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 41px;
    width: 250px;
}

.anywhere__block:last-child {
    margin-right: 0;
}

.anywhere__block-title {
    font: 300 23px / 22px Nexa, sans-serif;
    margin-bottom: 10px;
    text-align: center;
}

.anywhere__block-text {
    font: 12px / 21px Arial, sans-serif;
    text-align: justify;
}

.i-mac {
    background: url(../img/i-mac.png) center top / cover;
    height: 486px;
    color: #fff;
}

.i-mac__wrapper {
    padding-top: 196px;
}

.i-mac__perfomance-icons {
    width: 830px;
}

.i-mac__head {
    margin-top: 52px;
    margin-bottom: 19px;
}

.team {
    background: #ebebeb;
    padding-top: 78px;
    padding-bottom: 16px;
}

.team__head {
    margin-bottom: 5px;
    color: #717171;
}

.team__sub-head {
    color: #717171;
}

.team__leader-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.leader__card {
    position: relative;
}

.leader__photo {
    height: 213px;
}

.leader__twitter {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8f33c4;
    position: absolute;
    width: 44px;
    height: 38px;
    bottom: 21px;
    right: 14px;
}

.leader__info {
    font: 13px / 22px PT-sans, sans-serif;
    color: #7b7b7b;
    margin-left: 8px;
    margin-top: 2px;
}

.leader__name {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 1px;
}

.leader__speciality {
    letter-spacing: 0.02em;
}

.slide-dots {
    display: flex;
    margin-top: 28px;
    margin-bottom: 43px;
}

.slide-dots__item {
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background: #979797;
    margin-right: 7px;
}

.slide-dots__item:last-child {
    margin-right: 0;
}

.slide-dots__item_active {
    background: #8f33c4;
}

.team__info-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info-card {
    background: #fff;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    width: 49%;
    padding: 55px 55px 83px 48px;
    position: relative;
    margin-bottom: 15px;
} 

.info-card__head {
    font: 700 27px / 30px Nexa, sanf-serif;
    color: #252525;
    letter-spacing: 0.02em;
    margin-bottom: 14px;
}

.info-card__sub-head {
    font: 12px / 23px Arial, sanf-serif;
    letter-spacing: 0.08em;
    margin-bottom: 28px;
    color: #6017a3;
}

.info-card__text {
    font: 12px / 21px Arial, sanf-serif;
    color: #949494;
    letter-spacing: -0.03em;
}

.info-card__plus {
    font: 22px / 24px Nexa, sans-serif;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.004);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8f33c4;
    color: #fff;
    padding-top: 7px;
    padding-left: 3px;
    position: absolute;
    height: 29px;
    width: 29px;
    top: 0;
    left: 0;
}

.info-card_big {
    width: 100%;
    padding: 65px 55px 85px 48px;
}

.info-card_big .info-card__plus {
    display: none;
}

.footer {
    background: #373737;
    border-top: 4px solid #914dcf;
    height: 521px;
    color: #fff;
}

.footer__text {
    font: 11px / 22px Helvetica, sans-serif;
    letter-spacing: 0.01em;
}

.footer__text_grey {
    font: 10px / 20px Helvetica, sans-serif;
    color: #7e7e7e;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
}

.footer__left {
    width: 49%;
}

.footer__top {
    height: 94px;
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.list > li {
    display: block;
}

.footer__logo .logo__main, .footer__logo .logo__sub-text {
    color: #fff;
}

.footer__menu {
    display: flex;
}

.footer__menu-item {
    font: 700 12px Nexa, sans-serif;
    position: relative;
    margin-right: 40px;
}
.footer__menu-item:last-child {
    margin-right: 0;
}

.footer__menu-item::after {
    content: "";
    display: block;
    background: #767676;
    height: 11px;
    width: 1px;
    position: absolute;
    bottom: 2px;
    right: -21px;
}
.footer__menu-item:last-child::after {
    display: none;
}

.footer__menu-item_active::before {
    content: "";
    display: block;
    background: #914dcf;
    height: 4px;
    width: 100%;
    position: absolute;
    bottom: -15px;
}

.footer__social {
    display: flex;
    align-items: center;
}

.footer__social-item {
    display: flex;
    align-items: center;
    margin-right: 27px;
}
.footer__social-item:last-child {
    margin-right: 0;
}

.footer__social-icon {
    height: 11px;
    width: 13px;
    margin-right: 5px;
}

.footer__social-title {
    font: bold 11px / 19px PT-sans, sans-serif;
    letter-spacing: -0.01em;
}

.footer__about-links {
    margin-bottom: 11px;
    display: flex;
}

.footer__about-links>.footer__text {
    margin-right: 15px;
}
.footer__about-links>.footer__text:last-child {
    margin-right: 0;
}

.link {
    font: inherit;
    color: inherit;
    text-decoration: none;
}